.college-container {
  width: 80%;
  margin: auto;
}

.all-cards-container {
  display: inline-flex;
  justify-content: space-between;
  margin: 80px 16px -60px 16px;
  border: 2px black solid;
}

.all-cards {
  font-family: 'Philosopher', sans-serif;
  display: inline-block;
  height: 300px;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: scroll;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.favorite {
  margin-top: 1px;
  position: relative;
  left: 81%;
  z-index: 1;
  height: 16px;
  width: 55px;
  padding: 8px;
  border-radius: 5px;
  border: 2px black solid;
}

.favorite:hover {
  border: 2px #260BDF solid;
  cursor: pointer;
}

.selected {
  border: 2px #260BDF solid;
}

.school {
  margin: auto;
  width: 90%;
}

.placeholder-icon {
  height: 12px;
}

.school-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: 400;
}

.location {
  margin-top: 4px;
  font-size: 12px;
}

.url {
  width: 90%;
  overflow: scroll;
}
