#sidebar {
  padding-top: 80px;
  padding-left: 10px;
  width: 12%;
  height: 100%;
}

#nav-links-box {
  padding-left: 0px;
  padding-top: 1px;
}

.links {
  list-style: none;
  text-align: left;
  width: 70%;
  margin: 0 auto;
  height: 25%;
}

.particle-container {
  padding-top: 0;
}

.welcome-greeting {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Philosopher', sans-serif;
  font-size: 30px;
}
